.fadeOnScrollWrapper {
    opacity: 0;
    transform: translateX(-300px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fadeOnScrollWrapper.show {
    opacity: 1;
    transform: translateX(0);
}
