/* src/components/button/primaryBtn.module.css */
.primaryBtn {
    width: max-content;
    min-height: 50px;
    background-color: #473BF0;
    border-radius: 8px;
    border: none;
    color: var(--lightFontColor);
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: transform 0.3s; /* Smooth scaling effect */
}

.primaryBtn:hover {
    transform: scale(1.05);
}
