.heroWrapper {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;

    .heroBox {
        width: 75%;
        height: max-content;
        display: flex;
        justify-content: center;
        align-items: center;

        .heroText {
            color: var(--primaryFontColor);
            display: flex;
            flex-direction: column;

            h1 {
                font-size: 60px;
                padding-bottom: 20px;
            }

            p {
                font-size: 19px;
                color: var(--secondaryFontColor);
                padding-bottom: 40px;
                width: 500px;
            }
        }

        .heroImg {
            position: relative;

            img {
                height: 110px;
                width: auto;
                position: absolute;

                &:nth-child(1) {
                    height: 463px;
                    width: 463px;
                    position: relative;
                    z-index: 5;
                }

                &:nth-child(2) {
                    top: -8%;
                    left: 20%;
                    z-index: 4;
                }

                &:nth-child(3) {
                    z-index: 6;
                    left: 0%;
                    bottom: 10%;
                }

                &:nth-child(4) {
                    z-index: 6;
                    right: 10%;
                    bottom: 10%;
                    height: 80px;
                }
            }
        }
    }
}

.servicesWrapper {
    width: 100%;
    height: 900px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    .servicesBox {
        height: 750px;
        width: 75%;

        h3 {
            font-size: 36px;
        }
    }

    .cardsBox {
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
    }
}

.testimonialWrapper {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    margin-bottom: 150px;

    .testimonialBox {
        width: 80%;
        height: 300px;
        padding-top: 20px;
        display: flex;
        border-bottom: 2px solid #E7E9ED;

        .testimonialImg {
            flex: 2;
            display: flex;
            justify-content: center;

            img {
                width: 164px;
                height: 164px;
            }

        }

        .testimonialText {
            flex: 4;

            img {
                width: 125px;
            }

            h2 {
                font-size: 24px;
                padding: 25px 30px 25px 0px;
            }

            div {
                display: flex;
                justify-content: space-between;
                padding-right: 50px;

                :nth-child(1) {
                    font-weight: 600;
                }
            }
        }
    }


}

.aboutWrapper {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    /* align-items: top; */
    position: relative;

    .aboutBox {
        width: 80%;
        height: 883px;
        position: relative;

        * {
            position: absolute;
        }

        h6 {
            left: 0;
            top: 0;
        }

        span:nth-of-type(1) {
            left: 0;
            top: 10%;
            font-size: 36px;
            width: 516px;
            line-height: 1.25;
        }

        span:nth-of-type(2) {
            left: 50%;
            bottom: 25%;
            width: 490px;
            line-height: calc(29/17);
            font-size: 17px;
            color: var(--secondaryFontColor);
        }

        img:nth-of-type(1) {
            width: 445px;
            height: 565px;
            left: 0;
            bottom: 0;
        }

        img:nth-of-type(2) {
            width: 318px;
            height: 332px;
            left: 50%;
            top: 25%;
        }

        img:nth-of-type(3) {
            right: 0;
            top: 45%;
            width: 160px;
            height: 167px;
        }

        img:nth-of-type(4) {
            width: 107px;
            height: 110px;
            left: 50%;
            top: 25%;
            transform: translate(calc(318px - 50%), -50%);
        }
    }

}

.factsWrapper {
    margin-top: 75px;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;

    .allFactsBox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        text-align: center;

        .factBox {
            width: 314px;
            padding: 40px;
        }
    }
}

.featuresWrapper {
    width: 100%;
    height: max-content;
    background-color: #F4F7FA;
    padding-top: 100px;
    display: flex;
    justify-content: center;

    h6 {
        text-align: center;

    }

    .featuresBox {
        width: 80%;
        height: 1000px;
        display: flex;
        /* justify-content: center; */
        flex-direction: column;
        align-items: center;

        span h2 {
            width: 60%;
            text-align: center;
            margin: auto;
        }

        .featuresGroup {
            display: grid;
            grid-template-columns: 50% 50%;
            width: 80%;
            padding: 75px 0;
            margin: auto;

            border-bottom: 2px solid #E7E9ED;

        }
    }
}

.worksWrapper {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

    .worksBox {
        width: 75%;
        height: max-content;
        text-align: center;

        h2 {
            width: 600px;
            margin: auto;
        }

        .worksGroup {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 50px;
            padding-top: 100px;

            div {
                align-items: center;
                /* new */
                justify-items: center;
                /* new */

            }
        }
        a {
            text-decoration: none;
            transition: cubic-bezier(0, 2.05, 1, 0.99);
            transition: 0.5s;

            
            h5 {
                color: #473BF0;
                transition: 0.5s;

            }
            :hover{
                color: var(--primaryFontColor);
                transform: translateX(0.5rem);
              
            }
        }
    }
}