.cardWrapper{
    display: flex;
    padding: 10px;
    img{
        width: 80px;
        height: 80px;
    }
    div{
        
    }
    p{
        font-size: 17px;
    }
    *{
        padding: 10px;
    }
}