.cardWrapper{
    background-color: red;
    width: 23vw;
    height: 520px;
    border-radius: 10px;
    padding:50px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-delay: 0.15s;
    transition: cubic-bezier(0, 2.05, 1, 0.99);
    transition-duration: 0.5s;
    @media (max-width:992px){
        width: 28vw;
    @media (max-width:768px){
        width: 75vw;
    }
}
    
    &:hover{
        transform: translateY(-1rem);
    }
    img{
        height: 150px;
    }
    h4{
        font-size: 24px;
        font-weight: 600;
        padding-top: 50px;
        padding-bottom: 20px;
        color:var(--lightFontColor);

    }
    p{
        font-weight: 300;
        font-size: 17px;
        padding-bottom: 30px;
          letter-spacing: -0.2px;
        color: var(--lightFontColor);
        

    }
    h5 a{
        color: var(--lightFontColor);
        text-decoration: none;
        font-weight: 700;
        transition: 0.5s ease;
             &:hover{
            color: var(--primaryFontColor);
        }

    }
 

}