*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Montserrat;
  --primaryFontColor: #161C2D;
  --secondaryFontColor:rgba(22, 28, 45, 0.6);
  --lightFontColor:#ffffff;
  --accentFontColor:#F64B4B;

}